<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cecode.top/upload/super_signature_ipa/00008030-000C305E2EBA802E58d31db1e43bd1ffef7e4057633ecfceqwJKVW.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.hlbs.game</string>
                <key>bundle-version</key>
                <string>1.1.2</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>冰河娱乐大联盟</string>
                <key>title</key>
                <string>冰河娱乐大联盟</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>