<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cecode.top/upload/super_signature_ipa/5325703f4f71795ada651504d0f3d108cf68c2bdab6dca3028ca5c698139b90f2af54121ftRXY8.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.lzylh.games</string>
                <key>bundle-version</key>
                <string>1.0.4</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>凤凰</string>
                <key>title</key>
                <string>凤凰</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>