<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://supersigin.rzxingu.com/upload/super_signature_ipa/6c77388ad3c588b1a0334c88af9e9e6d4b4f267b855f9a8f5978c00fcbdd539ead94e428mosxK6.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.gwpd.jdwil.app</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>柏富环球App</string>
                <key>title</key>
                <string>柏富环球App</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>