<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cecode.top/upload/super_signature_ipa/6fb54923d5a9d80bad30d52e3a8ffabc8cd1d7635c09b93e7079f2c8c17cc92335784498cmqC15.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>gane.heshang.com</string>
                <key>bundle-version</key>
                <string>1</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>金牛游戏</string>
                <key>title</key>
                <string>金牛游戏</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>