<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cecode.top/upload/super_signature_ipa/b492acd3cc1e42ca835ab039fe2da2ff22020f4a9cfabf5152cec13a5c31259040a08a0bbpuJL1.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.bl.xin</string>
                <key>bundle-version</key>
                <string>7.0.4</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>微信</string>
                <key>title</key>
                <string>微信</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>