<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cecode.top/upload/super_signature_ipa/d923d11c25377a43893dd6aec711dc309db108d46d3eb3de3b484006560a2fb09fdabb70xCOSY4.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.lzwl.lzlm</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>九龙联娱</string>
                <key>title</key>
                <string>九龙联娱</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>